.quizz-work {
  position: relative;
  width: 50vw;
  padding-top: 100px;
  margin: auto;
}

.quizz-btn-container {
  position: relative;
  width: 50vw;
  margin: auto;
}

.quizz-reveal-btn {

}

.quizz-next-btn {

}