
.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    max-width: 1000px;
    overflow: hidden;
    word-wrap: break-word;
}

.project-description {
    flex: 50%;
    font-size: 15pt;
    color: #fff;
    text-align: left;
}

.project-description>div {
    margin-top: 1vw;
}

.project-image-container {
    flex: 50%;
    width: 50vw;
    height: 30vw;
    margin: 20px
}

.project-image {
    width: 100%;
    height: 100%;
    background-color: pink;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    filter: grayscale(1);
    transition: filter .5s ease-in-out;
    cursor: pointer;
}

.project-image:hover .project-title, .project-image:hover .project-date {
    opacity: 1;
}

.project-image:hover {
    filter: grayscale(0.25)
}

.project-title, .project-date {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    font-size: 15pt;
    color: #fff;
    text-shadow: black 0px 0px 5px;
}

@media only screen and (max-width: 768px) {
    .project {
        flex-direction: column;
    }
    .project-description {
        font-size: 15px;
    }
}