
@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
}

a {
  color: inherit;
  text-decoration: none;
}

.App-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vw);
  color: #fff;
}

.navigation-wrapper {
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background-image: url("/../bg.gif");
  z-index: 1000;
}

.navigation {
  right: 0;
  padding: 0.5rem 0;
  display: table;
  float: right;
}

.navigation>ul {
  margin: 0 1.5rem 0 0;
  padding: 0;
  list-style-type: none;
}

.navigation>ul>li {
  //mix-blend-mode: difference;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 0 1.5rem;
  font-size: calc(10px + 0.3vw);

  &::before {
    transition: width .4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    transition-property: width;
    content: '';
    display: block;
    position: absolute;
    top: calc(12px + 0.2vw);
    width: 0;
    right: 0;
    height: 1px;
    background: #fff;
  }

  &:hover::before {
    width: 100%;
  }

  &.selected::before {
    width: 100%;
  }
}

// https://github.com/maisano/react-router-transition
.switch-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.switch-wrapper > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* ********************** */

.vertical-timeline-element-icon {
  transition: transform 0.5s;
}

.vertical-timeline-element-icon:hover {
  transform: scale(1.2);
}

.vertical-timeline-element-icon> img {
  border-radius: 50%;
  width: 60px;
  height: 60px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
