@import './mixins';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #17181a;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-header {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vw);
  color: #fff;
}

.navigation-wrapper {
  top: -0;
  right: 0;
  position: fixed;
  width: 100%;
  background-image: url("/../bg.gif");
  z-index: 1000;
  transition: top .4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.navigation-wrapper.hidden {
  top: -80px;
}

.navigation {
  right: 0;
  padding: 1rem 0;
  display: table;
  float: right;
}

.navigation>ul {
  margin: 0 1.5rem 0 0;
  padding: 0;
  list-style-type: none;
}

.navigation>ul>li {
  @include smooth-underline(calc(12px + 0.7vw));
  //mix-blend-mode: difference;
  color: #fff;
  position: relative;
  display: inline-block;
  margin: 0 1.5rem;
  font-size: calc(10px + 0.7vw);

  &::before {
    transition-property: width;
    content: '';
    display: block;
    position: absolute;
    top: calc(12px + 0.7vw);
    width: 0;
    right: 0;
    height: 1px;
    background: #fff;
    transition: width .4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }

  &:hover::before {
    width: 100%;
  }

  &.selected::before {
    width: 100%;
  }
}

// https://github.com/maisano/react-router-transition
.switch-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: height .4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;

  // Hide scrollbar
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    width: 0;  /* Safari and Chrome */
    height: 0;
  }
}

.switch-wrapper > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* ************* vertical timeline css modifs ********* */

.vertical-timeline-element-icon {
  transition: transform 0.5s;
}

.vertical-timeline-element-icon:hover {
  transform: scale(1.2);
}

.vertical-timeline-element-icon> img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

/* ***************** */

.scroll-indicator-wrapper {
  position: fixed;
  right: 50px;
  top: 30%;
  z-index: 100;
  transition: right .4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.scroll-indicator-wrapper.hidden {
  right: -10px;
}
